<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../navbar.css">
    <link rel="stylesheet" href="../../design.css">
    <link rel="stylesheet" href="../../sidebar.css">
    <link rel="stylesheet" href="image.css">
    <link rel="icon" href="/assets/puzzle icon.png" />

    <title>Fezco | Component library</title>
</head>

<body>

    <nav>
        <div class="nav-logo">
            <a href="../../index.html">FEZ</a>

        </div>
        <ul class="nav-links">
            <li><a class="nav-docs" href="#">Docs</a></li>
            <li><a href="https://github.com/thenorthkun/Fezco-UI">GitHub</a></li>
        </ul>
    </nav>

    <main class="doc-container">
        <div class="sidebar">
            <ul class="sidebar-list">
                <li class="sidebar-heading">Getting Started</li>

                <a href="#">
                    <li class="component">Introduction</li>
                </a>
                <a href="#">
                    <li class="component">Colors</li>
                </a>
                <a href="#">
                    <li class="component">Typography</li>
                </a>
                <a href="#">
                    <li class="component">Contributing</li>
                </a>
                <li class="sidebar-heading">Components</li>
                <a href="/components/alert/alert.html">
                    <li class="component">Alert</li>
                </a>
                <a href="/components/avatar/avatar.html">
                    <li class="component">Avatar</li>
                </a>
                <a href="/components/badge/badge.html">
                    <li class="component">Badge</li>
                </a>
                <a href="/components/button/button.html">
                    <li class="component">Button</li>
                </a>
                <a href="/components/card/card.html">
                    <li class="component">Card</li>
                </a>
                <a href="/components/image/image.html">
                    <li class="component active">Image</li>
                </a>
                <a href="/components/input/input.html">
                    <li class="component">Input</li>
                </a>
                <a href="/components/list/list.html">
                    <li class="component">List</li>
                </a>
                <a href="/components/modal/modal.html">
                    <li class="component">Modal</li>
                </a>

            </ul>

        </div>

        <div class="doc-content">
            <div class="content-wrapper">
                <div class="content-title "> Image<span class="colored-text">.</span></div>
                <div class="content-subtitle"> Images play an integral part in making a webiste look visually pleasing &
                    informative.<br> They can be responsive in design & can be modified into different sizes.
                </div>
                <div class="divider"></div>

                <div class="content-title2"> Responsive image</div>
                <div class="content-subtitle">The responsive image expands to cover the parent container.<br> Add
                    <strong>img-responsive</strong> class and resize the browser window to see the responsiveness.
                </div>

                <div class="example-div">
                    <img class="img-responsive" src="/assets/beach-repons.png" alt="responsive-image">



                </div>

                <div class="code-snippet">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=shades-of-purple&wt=none&l=auto&width=827.0249869823456&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=54px&ph=57px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522img-responsive%2522%2520src%253D%2522...%2522%2520alt%253D%2522responsive-image%2522%253E%250A%250A"
                        style="width: 827px; height: 226px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
                <div class="divider"></div>

                <div class="content-title2"> Rounded image</div>
                <div class="content-subtitle"> Rounded images can used on profile avatars.
                </div>

                <div class="example-div">
                    <img class="img-round" src="/assets/bored-ape-minty.png" alt="round-image">

                </div>

                <div class="code-snippet">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=shades-of-purple&wt=none&l=auto&width=827.0249869823456&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=54px&ph=57px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522img-round%2522%2520src%253D%2522...%2522%2520alt%253D%2522round-image%2522%253E%250A%250A"
                        style="width: 827px; height: 226px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
                <div class="divider"></div>






            </div>
        </div>



    </main>
    <script src="https://unpkg.com/boxicons@2.1.1/dist/boxicons.js"></script>

</body>

</html>