<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/utilities/design.css">
    <link rel="stylesheet" href="/utilities/navbar.css">
    <link rel="stylesheet" href="/utilities/sidebar.css">
    <link rel="stylesheet" href="grid.css">
    <link rel="icon" href="/assets/puzzle icon.png" />

    <title>Fezco | Component library</title>
</head>

<body>

    <nav>
        <div class="nav-logo">
            <a href="../../index.html">FEZ</a>

        </div>
        <ul class="nav-links">
            <li><a class="nav-docs" href="#">Docs</a></li>
            <li><a href="https://github.com/thenorthkun/Fezco-UI">GitHub</a></li>
        </ul>
    </nav>

    <main class="doc-container">
        <div class="sidebar">
            <ul class="sidebar-list">

                <li class="sidebar-heading">Getting Started</li>

                <a href="/get-started/intro/intro.html">
                    <li class="component">Introduction</li>
                </a>
                <a href="/get-started/colors/colors.html">
                    <li class="component">Colors</li>
                </a>
                <a href="/get-started/typography/typography.html">
                    <li class="component">Typography</li>
                </a>
                <a href="/get-started/contributing/contri.html">
                    <li class="component">Contributing</li>
                </a>

                <li class="sidebar-heading">Components</li>

                <a href="/components/alert/alert.html">
                    <li class="component">Alert</li>
                </a>
                <a href="/components/avatar/avatar.html">
                    <li class="component">Avatar</li>
                </a>
                <a href="/components/badge/badge.html">
                    <li class="component">Badge</li>
                </a>
                <a href="/components/button/button.html">
                    <li class="component">Button</li>
                </a>
                <a href="/components/card/card.html">
                    <li class="component">Card</li>
                </a>
                <a href="/components/image/image.html">
                    <li class="component">Image</li>
                </a>
                <a href="/components/input/input.html">
                    <li class="component">Input</li>
                </a>
                <a href="/components/list/list.html">
                    <li class="component">List</li>
                </a>
                <a href="/components/modal/modal.html">
                    <li class="component">Modal</li>
                </a>
                <a href="/components/rating/rating.html">
                    <li class="component">Rating</li>
                </a>
                <a href="/components/navigation/navigation.html">
                    <li class="component">Navigation</li>
                </a>
                <a href="/components/grid/grid.html">
                    <li class="component active">Grid</li>
                </a>
                <a href="/components/toast/toast.html">
                    <li class="component">Toast</li>
                </a>

            </ul>

        </div>

        <div class="doc-content">
            <div class="content-wrapper">
                <div class="content-title "> Grid<span class="colored-text">.</span></div>
                <div class="content-subtitle"> Navigation is important in modern day apps. They are the first point of interaction for the user to move around your application. <br>The navigation header usually contains a logo, the brand name and the main navigation links.
                </div>
                <div class="divider"></div>

                <div class="content-title2"> 2-column grid</div>
                <div class="content-subtitle">You can place two items in the 2-column grid.
                </div>

                <div class="example-div">
                    <div class="grid grid-col-2">
                        <div>
                            <img class="img-responsive" src="/assets/beach-repons.png" alt="responsive-image">
                        </div>
                        <div class="text">
                            This is a 2-column grid layout
                        </div>
                    </div>
            
                </div>

                <div class="code-snippet">
                    <iframe src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=shades-of-purple&wt=none&l=auto&width=827.0249869823456&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=54px&ph=57px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522grid%2520grid-col-2%2522%253E%250A%253Cdiv%253E%250A%253Cimg%2520class%253D%2522img-responsive%2522%2520src%253D%2522...%2522%2520alt%253D%2522responsive-image%2522%253E%250A%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522text%2522%253E...%253C%252Fdiv%253E%250A%253C%252Fdiv%253E" style="width: 827px; height: 309px; border:0; transform: scale(1); overflow:hidden;" 
                    sandbox="allow-scripts allow-same-origin"></iframe>
                </div>
                <div class="divider"></div>

                <div class="content-title2"> 3-column grid</div>
                <div class="content-subtitle">You can place three items in the 3-column grid.
                </div>

                <div class="example-div">
                    <div class="grid grid-col-3">
                        <div>
                            <img class="img-responsive" src="/assets/beach-repons.png" alt="responsive-image">
                        </div>      
                        <div class="text2">
                            This is a 3-column grid layout
                        </div>  
                        <div>
                            <img class="img-responsive" src="/assets/beach-repons.png" alt="responsive-image">
                        </div>      
                    </div>    
                </div>

                <div class="code-snippet">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=shades-of-purple&wt=none&l=auto&width=827.0249869823456&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=54px&ph=57px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522grid%2520grid-col-3%2522%253E%250A%253Cdiv%253E%250A%253Cimg%2520class%253D%2522img-responsive%2522%2520src%253D%2522...%2522%2520alt%253D%2522responsive-image%2522%253E%250A%253C%252Fdiv%253E%2520%2520%2520%2520%2520%2520%250A%253Cdiv%2520class%253D%2522text2%2522%253E%2520This%2520is%2520a%25203-column%2520grid%2520layout%250A%253C%252Fdiv%253E%2520%2520%250A%253Cdiv%253E%250A%253Cimg%2520class%253D%2522img-responsive%2522%2520src%253D%2522...%2522%2520alt%253D%2522responsive-image%2522%253E%250A%253C%252Fdiv%253E%2520%2520%2520%2520%2520%2520%250A%253C%252Fdiv%253E%2520%2520%2520%2520%250A"
                        style="width: 827px; height: 415px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin"></iframe>
    
                </div>
                <div class="divider"></div>

            </div>
        </div>



    </main>
    <script src="https://unpkg.com/boxicons@2.1.1/dist/boxicons.js"></script>

</body>

</html>