@import url("../../core.css");

/* *{
    border: 2px solid red;

} */

.doc-container{
    display: grid;
    grid-template-columns: 300px auto;
    min-height: 100vh;
    /* grid-template-rows: 800px; */
    gap: 2rem;
    background-color: var(--background-white);
}

.sidebar{
    margin-top: 2.5rem;
    grid-column-start: 1;
    grid-column-end: 2;
    position: sticky;
    background-color: var(--white);
    max-height: 63.5vh;
    /* align-self: start;
    /* transition: top 800ms cubic-bezier(0.5, 0.41, 0.29, 0.9); */
}

.sidebar-list{
    display: flex;
    list-style-type: none;
    font-size: 1.2rem;
    flex-direction: column;
    margin: 1rem;
    padding: 0;
}

.sidebar-list li{
    font-size: 1rem;
    font-weight: 500;
    padding: 0.65rem;
    cursor: pointer;
    padding-left: 3.5rem;
    flex-grow: 1; 
}

.sidebar-list a:link{
    color: var(--black);

}

.sidebar-list .sidebar-heading{
    font-size: 1.1rem;
    font-weight: 550;
    /* letter-spacing: -0.05em; */
    /* border-bottom: 2px solid var(--background-white); */
}


.doc-content{
    margin-top: 2.5rem;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: var(--white);
}

.component:hover {
    color: var(--black);
    background-color: var(--off-white);
    font-weight: 500;
    /* border: 2px solid var(--mint-green); */
    transition: all 800ms cubic-bezier(0.25, 0.8, 0.25, 1);
  }

.comp_active {
    color: var(--black);
    font-weight: 500;
    transition: all 800ms cubic-bezier(0.25, 0.8, 0.25, 1);
  }