<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../navbar.css">
    <link rel="stylesheet" href="../../design.css">
    <link rel="stylesheet" href="../../sidebar.css">
    <link rel="stylesheet" href="card.css">
    <link rel="icon" href="assets\puzzle icon.png" />

    <title>Fezco | Component library</title>
</head>

<body>

    <nav>
        <div class="nav-logo">
            <a href="../../index.html">FEZ</a>

        </div>
        <ul class="nav-links">
            <li><a class="nav-docs" href="#">Docs</a></li>
            <li><a href="https://github.com/thenorthkun/Fezco-UI">GitHub</a></li>
        </ul>
    </nav>

    <main class="doc-container">
        <div class="sidebar">
            <ul class="sidebar-list">

                <li class="sidebar-heading">Getting Started</li>

                <a href="#">
                    <li class="component">Introduction</li>
                </a>
                <a href="#">
                    <li class="component">Colors</li>
                </a>
                <a href="#">
                    <li class="component">Typography</li>
                </a>
                <a href="#">
                    <li class="component">Contributing</li>
                </a>

                <li class="sidebar-heading">Components</li>

                <a href="/components/alert/alert.html">
                    <li class="component">Alert</li>
                </a>
                <a href="/components/avatar/avatar.html">
                    <li class="component">Avatar</li>
                </a>
                <a href="/components/badge/badge.html">
                    <li class="component">Badge</li>
                </a>
                <a href="/components/button/button.html">
                    <li class="component">Button</li>
                </a>
                <a href="/components/card/card.html">
                    <li class="component active">Card</li>
                </a>
                <a href="/components/image/image.html">
                    <li class="component">Image</li>
                </a>
                <a href="/components/input/input.html">
                    <li class="component">Input</li>
                </a>
                <a href="/components/list/list.html">
                    <li class="component">List</li>
                </a>
                <a href="/components/modal/modal.html">
                    <li class="component">Modal</li>
                </a>

            </ul>

        </div>

        <div class="doc-content">
            <div class="content-wrapper">
                <div class="content-title "> Card<span class="colored-text">.</span></div>
                <div class="content-subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </div>
                <div class="divider"></div>

                <div class="content-title2"> Text only card</div>
                <div class="content-subtitle"> Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry.
                </div>

                <div class="example-div">
                    <div class="card text-only-card">
                        <h3 class="card-title">Heading</h3>
                        <p class="card-subtitle">Sub-Heading</p>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum is simply dummy text typesetting industry.

                        </p>
                    </div>

                </div>

                <div class="code-snippet"></div>
                <div class="divider"></div>

                <div class="content-title2"> Vertical Card</div>
                <div class="content-subtitle"> Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry.
                </div>

                <div class="example-div">
                    <div class="card card-vertical">
                        <div class="card-image">
                            <img src="/assets/KM-mercurial.jpg">
                        </div>
                        <div class="card-floating-icon">
                            <box-icon name='heart'></box-icon>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Nike Mercurial 8 'KM'</h3>
                            <p class="card-subtitle">Football boot</p>
                            <div class="card-price">
                                <span class="price-after-discount">₹4599</span>
                                <span class="price-before-discount">₹7999</span>
                                <span class="discount">60% off</span>
                            </div>
                        </div>
                        <div class="btn-box">
                            <button class="btn btn-primary">
                                Add to bag
                            </button>

                        </div>
                    </div>

                    <div class="card card-vertical">
                        <div class="card-image">
                            <img src="/assets/mercurial-vapor.jpg">
                        </div>
                        <div class="card-badge">TRENDING</div>
                        <div class="card-floating-icon">
                            <box-icon name='heart'></box-icon>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Nike Mercurial Vapor</h3>
                            <p class="card-subtitle">Football boot</p>
                            <div class="card-price">
                                <span class="price-after-discount">₹4599</span>
                                <span class="price-before-discount">₹7999</span>
                                <span class="discount">60% off</span>
                            </div>



                        </div>
                        <div class="btn-box">
                            <button class="btn btn-primary">
                                Add to bag
                            </button>

                        </div>
                    </div>

                </div>



                <div class="code-snippet"></div>
                <div class="divider"></div>

                <div class="content-title2"> Horizontal Card</div>
                <div class="content-subtitle"> Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry.
                </div>

                <div class="example-div">
                    <div class="card card-horizontal">
                        <div class="card-image">
                            <img src="/assets/phantom-turf.jpg">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Nike Mercurial 8 'KM' Turf</h3>
                            <p class="card-subtitle">Football boot </p>
                            <div class="card-price">
                                <span class="price-after-discount">₹6599</span>
                                <span class="price-before-discount">₹8999</span>
                                <span class="discount">30% off</span>
                            </div>
                            <button class="btn btn-primary">
                                Add to bag
                            </button>

                            <button class="btn btn-secondary">
                                Save to wishlist
                            </button>


                        </div>

                    </div>

                </div>

                <div class="code-snippet"></div>
                <div class="divider"></div>

                <div class="content-title2"> Card with dismiss</div>
                <div class="content-subtitle"> Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry.
                </div>

                <div class="example-div">
                    <div class="card text-only-card card-dismiss">
                        <h3 class="card-title">Heading</h3>
                        <button class="dismiss-btn">
                            <box-icon name='x'></box-icon>
                        </button>
                        <p class="card-subtitle">Sub-Heading</p>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum is simply dummy text typesetting industry.

                        </p>
                    </div>

                </div>

                <div class="code-snippet"></div>
                <div class="divider"></div>

                <div class="content-title2"> Card with text overlay</div>
                <div class="content-subtitle"> Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry.
                </div>

                <div class="example-div">
                    <div class="card card-vertical">
                        <div class="card-overlay">
                            <div class="card-image">
                                <img src="/assets/KM-mercurial.jpg">
                            </div>
                            <div class="card-floating-icon">
                                <box-icon name='heart'></box-icon>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">Nike Mercurial 8 'KM'</h3>
                                <p class="card-subtitle">Football boot</p>
                                <div class="card-price">
                                    <span class="price-after-discount">₹4599</span>
                                    <span class="price-before-discount">₹7999</span>
                                    <span class="discount">60% off</span>
                                </div>
                            </div>
                            <div class="btn-box">
                                <button class="btn btn-primary">
                                    Add to bag
                                </button>

                            </div>
                        </div>
                        <div class="text-overlay">Out of Stock</div>

                    </div>

                </div>

            </div>
        </div>
    </main>
    <script src="https://unpkg.com/boxicons@2.1.1/dist/boxicons.js"></script>

</body>

</html>