.input-div {
  width: 100%;
  margin: 0 1.25rem 0.625rem;
}

.input-label {
  font-size: 0.85rem;
  display: block;
  padding-bottom: 0.2rem;
}

.input-box {
  width: 60%;
  padding: 0.6rem;
  margin: 4px 0;
  background-color: var(--bg-white);
  outline: none;
  border-radius: 2px;
}

.input-div.input-error .input-label {
  color: var(--red);
}

.input-div.input-error .error-message {
  color: var(--red);
}

.input-div.input-error .input-box {
  border: 1px solid var(--red);
}
