<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../navbar.css">
    <link rel="stylesheet" href="../../design.css">
    <link rel="stylesheet" href="../../sidebar.css">
    <link rel="stylesheet" href="button.css">
    <link rel="icon" href="assets\puzzle icon.png" />

    <title>Fezco | Component library</title>
</head>

<body>

    <nav>
        <div class="nav-logo">
            <a href="../../index.html">FEZ</a>

        </div>
        <ul class="nav-links">
            <li><a class="nav-docs" href="#">Docs</a></li>
            <li><a href="https://github.com/thenorthkun/Fezco-UI">GitHub</a></li>
        </ul>
    </nav>

    <main class="doc-container">
        <div class="sidebar">
            <ul class="sidebar-list">
                <li class="sidebar-heading">Getting Started</li>

                <a href="#">
                    <li class="component">Introduction</li>
                </a>
                <a href="#">
                    <li class="component">Colors</li>
                </a>
                <a href="#">
                    <li class="component">Typography</li>
                </a>
                <a href="#">
                    <li class="component">Contributing</li>
                </a>
                <li class="sidebar-heading">Components</li>
                <a href="/components/alert/alert.html">
                    <li class="component">Alert</li>
                </a>
                <a href="/components/avatar/avatar.html">
                    <li class="component">Avatar</li>
                </a>
                <a href="/components/badge/badge.html">
                    <li class="component">Badge</li>
                </a>
                <a href="/components/button/button.html">
                    <li class="component">Button</li>
                </a>
                <a href="#">
                    <li class="component">Card</li>
                </a>
                <a href="#">
                    <li class="component">Image</li>
                </a>
                <a href="#">
                    <li class="component">Input</li>
                </a>
                <a href="#">
                    <li class="component">List</li>
                </a>
                <a href="#">
                    <li class="component">Modal</li>
                </a>

            </ul>

        </div>

        <div class="doc-content">
            <div class="content-wrapper">
                <div class="content-title "> Button<span class="colored-text">.</span></div>
                <div class="content-subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </div>
                <div class="divider"></div>

                <div class="content-title2"> Basic Buttons</div>
                <div class="content-subtitle"> Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry.
                </div>

                <div class="example-div">
                    <button class="btn btn-primary">PRIMARY</button>
                    <button class="btn btn-secondary">SECONDARY</button>
                    <button class="btn btn-success">SUCCESS</button>
                    <button class="btn btn-error">ERROR</button>
                    <button class="btn btn-dark">DARK</button>


                </div>

                <div class="code-snippet"></div>
                <div class="divider"></div>

                <div class="content-title2"> Basic Buttons</div>
                <div class="content-subtitle"> Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry.
                </div>

                <div class="example-div">
                    <button class="btn outline-primary">PRIMARY</button>
                    <button class="btn outline-secondary">SECONDARY</button>
                    <button class="btn outline-success">SUCCESS</button>
                    <button class="btn outline-error">ERROR</button>
                    <button class="btn outline-dark">DARK</button>

                </div>

                <div class="code-snippet"></div>
                <div class="divider"></div>

                <div class="content-title2"> Link Buttons</div>
                <div class="content-subtitle"> Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry.
                </div>

                <div class="example-div">
                    <button class="btn btn-primary" href="#">PRIMARY</button>
                    <button class="btn btn-secondary" href="#">SECONDARY</button>


                </div>

                <div class="code-snippet"></div>
                <div class="divider"></div>

                <div class="content-title2"> Buttons with icon</div>
                <div class="content-subtitle"> Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry.
                </div>

                <div class="example-div">
                    <button class="btn btn-primary btn-icon">
                        <box-icon name='cart'></box-icon>Add to cart
                    </button>
                    <button class="btn btn-secondary btn-icon">
                        <box-icon name='send'></box-icon>Send
                    </button>
                    <button class="btn btn-error btn-icon">
                        <box-icon name='error-circle'></box-icon>ERROR
                    </button>
                    <button class="btn outline-dark btn-icon">
                        <box-icon name='search-alt'></box-icon>Search
                    </button>

                </div>

                <div class="code-snippet"></div>
                <div class="divider"></div>

                <div class="content-title2"> Floating action buttons</div>
                <div class="content-subtitle"> Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry.
                </div>

                <div class="example-div">
                    <button class="btn btn-primary btn-floating"><box-icon name='message-square-add' ></box-icon></button>
                    <button class="btn btn-success btn-floating"><box-icon name='error' type='solid' ></box-icon></button>
                    <button class="btn btn-error btn-floating"><box-icon name='trash' animation='tada' ></box-icon></button>
                    <button class="btn outline-dark btn-floating"><box-icon name='search-alt' ></box-icon></button>

                </div>

                




            </div>
        </div>



    </main>
    <script src="https://unpkg.com/boxicons@2.1.1/dist/boxicons.js"></script>

</body>

</html>