<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../navbar.css">
    <link rel="stylesheet" href="../../design.css">
    <link rel="stylesheet" href="../../sidebar.css">
    <link rel="stylesheet" href="avatar.css">
    <link rel="icon" href="/assets/puzzle icon.png" />
    <title>Fezco | Component library</title>
</head>

<body>

    <nav>
        <div class="nav-logo">
            <a href="../../index.html">FEZ</a>

        </div>
        <ul class="nav-links">
            <li><a class="nav-docs" href="#">Docs</a></li>
            <li><a href="https://github.com/thenorthkun/Fezco-UI">GitHub</a></li>
        </ul>
    </nav>

    <main class="doc-container">
        <div class="sidebar">
            <ul class="sidebar-list">
                <li class="sidebar-heading">Getting Started</li>

                <a href="#">
                    <li class="component">Introduction</li>
                </a>
                <a href="#">
                    <li class="component">Colors</li>
                </a>
                <a href="#">
                    <li class="component">Typography</li>
                </a>
                <a href="#">
                    <li class="component">Contributing</li>
                </a>
                <li class="sidebar-heading">Components</li>
                <a href="/components/alert/alert.html">
                    <li class="component">Alert</li>
                </a>
                <a href="/components/avatar/avatar.html">
                    <li class="component active">Avatar</li>
                </a>
                <a href="#">
                    <li class="component">Badge</li>
                </a>
                <a href="#">
                    <li class="component">Button</li>
                </a>
                <a href="#">
                    <li class="component">Card</li>
                </a>
                <a href="#">
                    <li class="component">Image</li>
                </a>
                <a href="#">
                    <li class="component">Input</li>
                </a>
                <a href="#">
                    <li class="component">List</li>
                </a>
                <a href="#">
                    <li class="component">Modal</li>
                </a>

            </ul>

        </div>

        <div class="doc-content">
            <div class="content-wrapper">
                <div class="content-title "> Avatar<span class="colored-text">.</span></div>
                <div class="content-subtitle">Avatars are used to give a recognisable visual identity such as profile
                    pictures.<br>Usually found in circular & squarical shapes & varies across different sizes depending
                    on components.


                </div>
                <div class="divider"></div>

                <div class="content-title2"> Standard Avatar</div>
                <div class="content-subtitle"> These are basic rounded avatars for common purposes.<br>Simply add <strong>avatar</strong> to parent class.
                </div>

                <div class="example-div">
                    <img class="avatar" src="/assets/Diversity-Avatars-Avatars-Luis-suarez.svg" alt="suarez">
                    <img class="avatar" src="/assets/Diversity-Avatars-Avatars-Andy-warhol.svg" alt="andy">
                    <img class="avatar" src="/assets/Diversity-Avatars-Avatars-Dave-grohl.svg" alt="dave">
                    <img class="avatar" src="/assets/Diversity-Avatars-Avatars-Barack-obama.svg" alt="obama">
                    <img class="avatar" src="/assets/Diversity-Avatars-Avatars-Native-woman.svg" alt="native">


                </div>

                <div class="code-snippet">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=shades-of-purple&wt=none&l=auto&width=566.9937499165535&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=54px&ph=57px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522avatar%2522%2520src%253D%2522...%2522%2520alt%253D%2522suarez%2522%253E%250A%253Cimg%2520class%253D%2522avatar%2522%2520src%253D%2522...%2522%2520alt%253D%2522andy%2522%253E%250A%253Cimg%2520class%253D%2522avatar%2522%2520src%253D%2522...%2522%2520alt%253D%2522dave%2522%253E%250A%253Cimg%2520class%253D%2522avatar%2522%2520src%253D%2522...%2522%2520alt%253D%2522obama%2522%253E%250A%253Cimg%2520class%253D%2522avatar%2522%2520src%253D%2522...%2522%2520alt%253D%2522native%2522%250A%250A"
                        style="width: 578px; height: 329px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
                <div class="divider"></div>

                <div class="content-title2"> Avatar Sizes</div>
                <div class="content-subtitle"> Rounded avatars with varying sizes like Extra large, Medium etc.
                </div>

                <div class="example-div">
                    <img class="avatar avatar-xl" src="/assets/Diversity-Avatars-Avatars-Luis-suarez.svg" alt="suarez">
                    <img class="avatar avatar-lg" src="/assets/Diversity-Avatars-Avatars-Andy-warhol.svg" alt="andy">
                    <img class="avatar avatar-md" src="/assets/Diversity-Avatars-Avatars-Dave-grohl.svg" alt="dave">
                    <img class="avatar avatar-sm" src="/assets/Diversity-Avatars-Avatars-Barack-obama.svg" alt="obama">
                    <img class="avatar avatar-xs" src="/assets/Diversity-Avatars-Avatars-Native-woman.svg" alt="native">


                </div>

                <div class="code-snippet">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=shades-of-purple&wt=none&l=auto&width=664.2375031709671&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=54px&ph=57px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522avatar%2520avatar-xl%2522%2520src%253D%2522...%2522%2520alt%253D%2522suarez%2522%253E%250A%253Cimg%2520class%253D%2522avatar%2520avatar-lg%2522%2520src%253D%2522...%2522%2520alt%253D%2522andy%2522%253E%250A%253Cimg%2520class%253D%2522avatar%2520avatar-md%2522%2520src%253D%2522...%2522%2520alt%253D%2522dave%2522%253E%250A%253Cimg%2520class%253D%2522avatar%2520avatar-sm%2522%2520src%253D%2522...%2522%2520alt%253D%2522obama%2522%253E%250A%253Cimg%2520class%253D%2522avatar%2520avatar-xs%2522%2520src%253D%2522...%2522%2520alt%253D%2522native%2522%253E%250A"
                        style="width: 664px; height: 309px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
                <div class="divider"></div>



                <div class="content-title2"> Square Avatar</div>
                <div class="content-subtitle"> To ensure your image is sqaure, use the <strong>avatar-square</strong> class.  
                </div>



                <div class="example-div">
                    <img class="avatar avatar-square" src="/assets/Diversity-Avatars-Avatars-Luis-suarez.svg"
                        alt="suarez">
                    <img class="avatar avatar-square" src="/assets/Diversity-Avatars-Avatars-Andy-warhol.svg"
                        alt="andy">
                    <img class="avatar avatar-square" src="/assets/Diversity-Avatars-Avatars-Dave-grohl.svg" alt="dave">
                    <img class="avatar avatar-square" src="/assets/Diversity-Avatars-Avatars-Barack-obama.svg"
                        alt="obama">
                    <img class="avatar avatar-square" src="/assets/Diversity-Avatars-Avatars-Native-woman.svg"
                        alt="native">


                </div>

                <div class="code-snippet">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=shades-of-purple&wt=none&l=auto&width=675.8374978303909&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=54px&ph=57px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522avatar%2520avatar-square%2522%2520src%253D%2522...%2522%2520alt%253D%2522suarez%2522%253E%250A%253Cimg%2520class%253D%2522avatar%2520avatar-square%2522%2520src%253D%2522...%2522%2520alt%253D%2522andy%2522%253E%250A%253Cimg%2520class%253D%2522avatar%2520avatar-square%2522%2520src%253D%2522...%2522%2520alt%253D%2522dave%2522%253E%250A%253Cimg%2520class%253D%2522avatar%2520avatar-square%2522%2520src%253D%2522...%2522%2520alt%253D%2522obama%2522%253E%250A%253Cimg%2520class%253D%2522avatar%2520avatar-square%2522%2520src%253D%2522...%2522%2520alt%253D%2522native%2522%253E%250A%250A"
                        style="width: 686px; height: 329px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
                <div class="divider"></div>

                <div class="content-title2"> Text Avatars</div>
                <div class="content-subtitle"> Get a text based avatar by adding <strong>avatar-text</strong>.
                </div>

                <div class="example-div">
                    <div class="avatar avatar-text avatar-xl">LS</div>
                    <div class="avatar avatar-text avatar-lg">NJ</div>
                    <div class="avatar avatar-text avatar-md">CR</div>
                    <div class="avatar avatar-text avatar-sm">KM</div>
                    <div class="avatar avatar-text avatar-xs">FD</div>


                </div>

                <div class="code-snippet">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=shades-of-purple&wt=none&l=auto&width=686.924998998642&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=54px&ph=57px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522avatar%2520avatar-text%2520avatar-xl%2522%253ELS%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522avatar%2520avatar-text%2520avatar-lg%2522%253ENJ%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522avatar%2520avatar-text%2520avatar-md%2522%253ECR%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522avatar%2520avatar-text%2520avatar-sm%2522%253EKM%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522avatar%2520avatar-text%2520avatar-xs%2522%253EFD%253C%252Fdiv%253E%250A%250A"
                        style="width: 686px; height: 329px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>




            </div>
        </div>



    </main>
</body>

</html>