<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../navbar.css">
    <link rel="stylesheet" href="../../design.css">
    <link rel="stylesheet" href="../../sidebar.css">
    <link rel="stylesheet" href="modal.css">
    <link rel="icon" href="assets\puzzle icon.png" />

    <title>Fezco | Component library</title>
</head>

<body>

    <nav>
        <div class="nav-logo">
            <a href="../../index.html">FEZ</a>

        </div>
        <ul class="nav-links">
            <li><a class="nav-docs" href="#">Docs</a></li>
            <li><a href="https://github.com/thenorthkun/Fezco-UI">GitHub</a></li>
        </ul>
    </nav>

    <main class="doc-container">
        <div class="sidebar">
            <ul class="sidebar-list">

                <li class="sidebar-heading">Getting Started</li>

                <a href="#">
                    <li class="component">Introduction</li>
                </a>
                <a href="#">
                    <li class="component">Colors</li>
                </a>
                <a href="#">
                    <li class="component">Typography</li>
                </a>
                <a href="#">
                    <li class="component">Contributing</li>
                </a>

                <li class="sidebar-heading">Components</li>

                <a href="/components/alert/alert.html">
                    <li class="component">Alert</li>
                </a>
                <a href="/components/avatar/avatar.html">
                    <li class="component">Avatar</li>
                </a>
                <a href="/components/badge/badge.html">
                    <li class="component">Badge</li>
                </a>
                <a href="/components/button/button.html">
                    <li class="component">Button</li>
                </a>
                <a href="#">
                    <li class="component">Card</li>
                </a>
                <a href="/components/image/image.html">
                    <li class="component">Image</li>
                </a>
                <a href="/components/input/input.html">
                    <li class="component">Input</li>
                </a>
                <a href="/components/list/list.html">
                    <li class="component">List</li>
                </a>
                <a href="/components/modal/modal.html">
                    <li class="component active">Modal</li>
                </a>

            </ul>

        </div>

        <div class="doc-content">
            <div class="content-wrapper">
                <div class="content-title "> Modal<span class="colored-text">.</span></div>
                <div class="content-subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </div>
                <div class="divider"></div>

                <div class="example-div">
                    <button class="btn btn-primary" id="modal-open-btn">View Modal</button>
                </div>

                <div class="modal visible">
                    <div class="modal-content">
                        <button class="modal-close-btn">
                            <box-icon name='x'></box-icon>
                        </button>
                        <div class="modal-title content-title2a">Title</div>
                        <div class="modal-message">This is modal dialog box you can close it. You can add any
                            information over here.
                        </div>

                        <div class="buttons">
                            <button class="btn btn-primary">Confirm</button>
                            <button class="btn btn-error">Decline</button>
                        </div>

                    </div>
                </div>

            </div>

            <div class="code-snippet"></div>
            <div class="divider"></div>

        </div>
        </div>
        </div>
    </main>
    <script src="./modal.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.1/dist/boxicons.js"></script>

</body>

</html>