<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../navbar.css">
    <link rel="stylesheet" href="alert.css">
    <link rel="stylesheet" href="../../design.css">
    <link rel="icon" href="assets\puzzle icon.png" />
    <title>Fezco | Component library</title>
</head>

<body>

    <nav>
        <div class="nav-logo">
            <a href="../../index.html">FEZ</a>

        </div>
        <ul class="nav-links">
            <li><a class="nav-docs" href="#">Docs</a></li>
            <li><a href="https://github.com/thenorthkun/Fezco-UI">GitHub</a></li>
        </ul>
    </nav>

    <main class="doc-container">
        <div class="sidebar">
            <ul class="sidebar-list">
                <li class="sidebar-heading">Getting Started</li>
                <a href="#">
                    <li class="component">Introduction</li>
                </a>
                <a href="#">
                    <li class="component">Colors</li>
                </a>
                <a href="#">
                    <li class="component">Typography</li>
                </a>
                <a href="#">
                    <li class="component">Contributing</li>
                </a>
                <li class="sidebar-heading">Components</li>
                <a href="/components/alert/alert.html">
                    <li class="component">Alert</li>
                </a>
                <a href="#">
                    <li class="component">Avatar</li>
                </a>
                <a href="#">
                    <li class="component">Badge</li>
                </a>
                <a href="#">
                    <li class="component">Button</li>
                </a>
                <a href="#">
                    <li class="component">Card</li>
                </a>
                <a href="#">
                    <li class="component">Image</li>
                </a>
                <a href="#">
                    <li class="component">Input</li>
                </a>
                <a href="#">
                    <li class="component">List</li>
                </a>
                <a href="#">
                    <li class="component">Modal</li>
                </a>
                <!-- <a href="#"
                  ><li class="component">Navigation</li></a
                >
                <a href="#"
                  ><li class="component">Rating</li></a
                >
                <a href="#"
                  ><li class="component">Snackbar</li></a
                >
                <a href="#"
                  ><li class="component">grid</li></a
                > -->
            </ul>


        </div>
        <div class="doc-content">
        </div>
    </main>



</body>

</html>